<div id="container">
    <h1>Contact me</h1>
    <div id="form-container">
        <div id="title">
            <p>Filling out this form you will send an email to my personal gmail account <b>jaime99dr@gmail.com</b></p>
        </div>
        <div id="form">
            <form #contact="ngForm" (ngSubmit)="submit(contact)">
                <div class="form-group">
                    <label class="bold" for="name">Name <p class="mandatory">*</p></label>
                    <input 
                        #name="ngModel" 
                        type="text" 
                        name="name" 
                        class="form-control"
                        ngModel 
                        required>                
                </div>
                <div class="form-group">
                    <label class="bold" for="message">Message <p class="mandatory">*</p></label>
                    <textarea
                        #message="ngModel" 
                        name="message" 
                        class="form-control"
                        rows="10"
                        ngModel
                        required></textarea>               
                </div>         
                <button class="bold" type="submit">
                    Access
                </button>               
            </form>
        </div>
    </div>
</div>