#info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    max-width: 800px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

#footer {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#image {
    border: 2px solid #000;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.keyText {
    font-weight: bold;
}

.name {
    margin-left: 50px;
}

.footerImage {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

button {
    background-color: #ffcc84;
    box-shadow: 5px 5px;
    margin-left: 10px;
}

button:hover {
    box-shadow: 0px 0px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}