<div id="main">
    <div id="info">
        <img id="image" src="assets/profile.jpeg" alt="profileImage" i18n-alt>
        <div class="name">
            <p>Jaime Santiago Díaz Ramírez</p>
            <p i18n class="keyText">Junior Developer</p>
            <p i18n>Web and app front-end</p>
        </div>
    </div>
    <div id="description">
        <p i18n>Graduated in Computer Science with a lot of desire and enthusiasm to learn about web development and mobile applications. In the short term I would like to work in major Spanish cities, such as Madrid or Barcelona and, in the long term, I would love to work in English speaking countries, such as Ireland or the United States.</p>
        <button>
            <a i18n href="assets/CV.pdf" download="CV_JAIME_DIAZ">Download CV</a> 
        </button>
    </div>
    <div id="footer">
        <div id="social">
            <p i18n class="keyText">Contact and social media</p>
            <a href="http://www.linkedin.com/in/jaime-díaz-ramírez-55a830221" target="_blank">
                <img class="footerImage" src="assets/linkedin.png" alt="LinkedIn" i18n-alt>
            </a>
            <a href="http://github.com/jaimediazz" target="_blank">
                <img class="footerImage" src="assets/github.png" alt="GitHub" i18n-alt>
            </a>
        </div>
        <div id="languages">
            <p i18n class="keyText">Languages that I'm fluent in</p>
            <img class="footerImage" src="assets/spanish.png" alt="Spanish" i18n-alt>
            <img class="footerImage" src="assets/english.png" alt="English" i18n-alt>
        </div>
    </div>    
</div>
