img {
    width: 100%;
}

h1, h3, p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 3rem auto;
}

#projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px hsl(180, 8%, 52%);
}

#carousel {
    /* position: relative; */
    width: 60%;
}

#info {
    width: 35%;
}

#info button {
    /* background-image: linear-gradient(to left,#0C97FA,#16E1F5) /* #6C9EFA ; */
    background-image: linear-gradient(to left, #5ECDE1, #2CAEE2); /*#6C9EFA ; */
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 3px 1px grey;
    transition: scale .5s;
}

#info a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.carousel-item {
    position: relative;
}

#prev, #next {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: white;
    border-color: hsl(180, 14%, 20%);
    background-color: hsl(180, 14%, 20%);
    transition: transform .5s;
}

#prev {
    left: -15px;
}

#next {
    right: -15px;
}

#dot-container {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 .3rem;
    background-color: hsl(180, 8%, 52%);
    border-radius: 50%;
    transition: width .5s;
}

.active {
    width: 25px;
    background-color: hsl(180, 14%, 20%);
    border-radius: 10px;
}

/* EVENTS */

img:hover {
    opacity: 0.75;
}

#prev:hover {
    cursor: pointer;
    transform: translateX(-4px);
}

#next:hover {
    cursor: pointer;
    transform: translateX(4px);
}

#info button:hover {
    scale: 1.03;
}

/* MEDIA QUERIES */

@media screen and (max-width: 950px) {
    #projects {
        flex-direction: column-reverse;
    }

    #info {
        width: 100%;
        text-align: center;
        padding-bottom: .5rem;
        border-bottom: 1px solid hsl(180, 8%, 52%);
    }

    #carousel {
        width: 100%;
        margin-top: 1rem;
    }
}