<div class="container">
    <h1 i18n>Projects</h1>
    <div id="projects">
        <div id="carousel">
            <div class="carousel-item">
                <a [href]="slides[slideIndex].url" target="_blank" [ngStyle]="{'pointer-events': slides[slideIndex].url === '' ? 'none' : 'auto'}">
                    <img [src]="slides[slideIndex].img" [alt]="slides[slideIndex].title" i18n-alt>
                </a>
                <button id="prev" (click)="prev()">&#10094;</button>
                <button id="next" (click)="next()">&#10095;</button>
            </div>
            <div id="dot-container">
                <div 
                    *ngFor="let slide of slides; let i = index" 
                    class="dot" 
                    [ngClass]="slideIndex === i ? 'active' : ''"
                    (click)="showSlide(i)">
                </div>
            </div>
        </div>
        <div id="info">
            <h3 i18n>{{ slides[slideIndex].title }}</h3>
            <p i18n>{{ slides[slideIndex].description }}</p>
            <p>{{ slides[slideIndex].technologies }}</p>
        </div>
    </div>
</div>