<div id="app">
  <nav class="navBar">
    <div id="logo">
      <div id="circle">
        <span style="font-family: 'Montserrat', sans-serif; font-weight: bold;">J</span>
      </div>
    </div>
    <ul id="navElements">
      <li class="nav-list-item">
        <a i18n routerLink="/">Home</a>
      </li> 
      <li class="nav-list-item">
        <a i18n routerLink="/projects">Projects</a>
      </li>
      <li class="nav-list-item nav-dropdown">
        <a i18n href="">Language</a>
        <img src="assets/icon-arrow-down.svg" alt="arrow down" i18n-alt>
        <div class="dropdown-menu">
          <p i18n>Spanish</p>
          <p i18n>English</p>
        </div>
      </li>
      <!-- <li type="li">
        <a routerLink="/contact">Contact</a>
      </li> -->
    </ul>
  </nav>  
  <router-outlet></router-outlet>
</div>